html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  /*  Обрамление всех елементов */
  /* outline: 1px solid red; */
  /*  Сброс UserAgetnsStyles */
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Ubuntu', sans-serif;
  font-family: 'Playfair Display', serif;
  color: #626262;
}

.container {
  /*  Центрирование контейнера */
  display: block;
  width: 900px;
  margin: 0 auto;
  /* background-color: rosybrown; */
  /* margin: 0 auto;
  vertical-align: top; */
  /* Решения проблемм */
  /* 1_Hack при использовании margin-top: */
  /* border: 1px solid transparent; */
  /* font-size: 0 удаляем пробелы для 
  inline-block */
  font-size: 0px;
}

.img {
  display: block;
  max-width: 100%;
  width: 420px;
  height: 280px;
}

/* nav */
.main-menu {
  padding: 76px 164px 102px 164px;
}

.main-menu-item-lifestyle {
  display: inline-block;
  margin-right: 120px;
}

.main-menu-item-photodiary {
  display: inline-block;
  margin-right: 102px;
}

.main-menu-item-music {
  display: inline-block;
  margin-right: 94px;
}

.main-menu-item-travel {
  display: inline-block;
  margin-right: auto;
}

.main-menu-link {
  display: block;
  color: #626262;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.main-menu-link:hover {
  color: #03a9f4;
}

.main-menu-link:focus {
  color: rgb(76, 40, 7);
  background-color: rgb(213, 201, 43);
}

/* main */
.main-subsection-content {
  display: inline-block;
  width: 420px;
  text-align: left;
  vertical-align: top;
  margin-right: 60px;
  margin-bottom: 130px;
}
.main-subsection-content:nth-of-type(2n) {
  margin-right: 0px;
}
.main-subsection-content:nth-of-type(n + 5) {
  margin-bottom: 0px;
}

.section-content {
  display: block;
}

.section-content-title {
  display: block;
  font-size: 14px;
  line-height: 17px;
  font-family: 'Ubuntu', sans-serif;
  text-transform: uppercase;
  color: #b4ad9e;
  margin-top: 0px;
  padding: 30px 0 0 0;
}

.title-section {
  font-size: 30px;
  font-weight: normal;
  line-height: 36px;
  font-family: 'Playfair Display', serif;
  color: #626262;
  margin: 20px 0 34px 0;
}

.content {
  font-size: 14px;
  line-height: 24px;
  font-family: 'Playfair Display', serif;
  color: #626262;
  text-transform: none;
  margin: 0px;
}

/* footer */

.footer-button {
  display: block;
  text-align: center;
}

.load-button {
  margin: 54px 0 70px 0;
  padding: 20px;
  min-width: 164px;
  max-height: 60px;
  background-color: #ffffff;
  font-size: 20px;
  line-height: 24px;
  border-width: 1px;
  border-color: #626262;
  font-family: 'Playfair Display', serif;
  cursor: pointer;
}

.load-button:hover {
  color: #03a9f4;
}

.load-button:focus {
  color: rgb(76, 40, 7);
  background-color: rgb(213, 201, 43);
}

.load-button:active {
  background-color: lightcoral;
}
