/*  !! Универсальный, обнулит margin у всех элементов !! */
* {
  margin: 0;
}

/* !!!Селектор тега !!!*/
/* Спецификацией CSS предусмотрено наследование свойств, относящихся к текстовому содержимому страницы, таких как color, font, text-align и т.д */
p {
  color: rgb(0, 0, 255);
}
h1 {
  text-align: center; /*выровнять текст по центру */
}
a {
  text-decoration: none; /* отменяем подчеркивание у ссылки */
}

/* !! Селектор класса !! */
.section {
  margin-bottom: 20px;
  padding: 10px;
}
.reflink {
  text-transform: uppercase;
  font-size: large;
  font-weight: bold;
  color: #f00;
}
/* background */
/* Свойства, относящиеся к форматированию блоков, не наследуются. Такие как background, border, display, width и т.д. */
.container {
  background-image: url(../img/sea-shore-6986097__340.webp); /* The image used */
  background-position: center; /* Center the image */
  background-color: #cccccc;
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

/* !! Селектор идентификатора !! */
#main-text {
  font-size: 24px;
}

/* !! Селектор потомка !! */
ol li {
  font-size: 20px;
  color: rgb(0, 0, 0);
}

/* !! Дочерний селектор !! */
ol > li {
  color: rgb(45, 7, 151);
}

/* !! Сестринский селектор !! */
h1 + p {
  text-align: center;
  color: darkorange;
  font-size: 25px;
  border: rgb(6, 97, 133) 1rem solid;
  border-radius: 25px;
}
 p+a[href="http://google.com.ua"]:hover {
     color:gold
 }
/* !!  Селектор атрибута !! */
.xpm:hover {
  background-color: #067bc2;
  font-size: 30px;
}

/* !! Селектор псевдокласса !! */
a:hover {
  background-color: #067bc2;
}
